<div id='container'>
<!-- Your code here -->

  <form class="shortenLink" name="shortenLink" ng-controller="ShortenController" novalidate>

    <input class="text" type="url" name="url" ng-model="$scope.link.url" placeholder="enter url" required ng-class="{'error': shortenLink.$invalid && shortenLink.$dirty}">
    
    <button type="submit" value="Shorten" ng-disabled="shortenLink.$invalid" ng-click="addLink($scope.link)">Submit</button>
    
    <div class="message" ng-if="shortenLink.url.$error.required && shortenLink.$dirty">
      <h3>url required</h3>
    </div>
    <div class="message" ng-if="shortenLink.url.$error.url && shortenLink.$dirty">
      <h3>not a valid url</h3>
    </div>
  
  </form>
  

</div>
